:root {
  --color-black: #111;
  --color-green: #63bd6b;
  --color-grey-0: #8f8f8f;
  --color-grey-1: #3a3a3c;
  --color-white: #ededed;
  --color-yellow: #b8b642;
}

body,
html,
#root {
  background-color: var(--color-black);
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  text-transform: uppercase;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
